header.site-header
  a(href='/')
    .logo ExampleSite
  
  if navContent != null && navContent.getGroup('navigation.navLinks') != null
    nav
      ul
        each link in navContent.getGroup('navigation.navLinks').toArray()
          if link.getLink("link") && link.getText("label")
            li
              a(href=link.getLink("link").url(ctx.linkResolver))
                != link.getText("label")