extends ./layout.pug

block content

  div.container(data-wio-id=homepageContent.id)
    
    - var homepageTitle = homepageContent.getStructuredText('homepage.site-title')
    != homepageTitle ? homepageTitle.asHtml(ctx.linkResolver) : ""
    
    - var image = homepageContent.getImage('homepage.image')
    - var imageUrl = image ? image.url : ""
    img.site-image(src=imageUrl)
    
    - var homepageText = homepageContent.getStructuredText('homepage.text')
    != homepageText ? homepageText.asHtml(ctx.linkResolver) : ""