extends ./layout.pug

block content

  div.container
    
    - var pageTitle = pageContent.getStructuredText('page.title')
    != pageTitle ? pageTitle.asHtml(ctx.linkResolver) : ""
    
    - var pageText = pageContent.getStructuredText('page.text')
    != pageText ? pageText.asHtml(ctx.linkResolver) : ""